body {
	color: var(--white);
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll !important;
	background-color: var(--body);
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
	color: var(--black-color);
	@include headfont;
	a{
		color: var(--title);
		@include headfont;
	}
}
button{
	border: unset;
}
::placeholder{
	color: var(--title);
}

h1 {
	font-size: 76px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
}

h3 {
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	@include breakpoint(max-xl){
		font-size: 32px;
		line-height: 50px !important;
	}
	@include breakpoint(max-md){
		font-size: 28px;
		line-height: 35px !important; 
	}
	@include breakpoint(max-sm){
		font-size: 20px;
		line-height: 30px !important;
	}
}

h4 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	@include breakpoint(max-xs){
		font-size: 20px;
	}
}

h5 {
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	text-transform: capitalize;
	@include breakpoint(max-lg){
		font-size: 18px;
	}
	@include breakpoint(max-sm){
		font-size: 16px;
	}
}

h6 {
	font-size: 18px;
	margin-top: 0;
	font-weight: 400;
	margin-bottom: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
	margin: 0;
	color: var(--title);
	transition: all 0.3s;
}
a:hover {
	text-decoration: none;
	color: var(--white);
}
input:focus{
	color: var(--white);
	outline: none;
}
input{
	color: var(--white);
}
::placeholder{
	color: var(--title);
}
p {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--pra-color);
	font-weight: 400;
	line-height: 24px;
	max-width: 570px;
	@include bodyfont;
	@include breakpoint(max-xl){
		font-size: 15px;
	}
	@include breakpoint(max-lg){
		font-size: 14px;
	}
	@include breakpoint(max-sm){
		font-size: 13px;
	}
}
.pl-24{
	padding-left: 24px;
	@include breakpoint(max-xxl){
		padding-left: 14px;
	}
	@include breakpoint(max-lg){
		padding-left: 10px;
	}
}
.pr-24{
	padding-right: 24px;
	@include breakpoint(max-xxl){
		padding-right: 14px;
	}
	@include breakpoint(max-lg){
		padding-right: 10px;
	}
}

.ml-24{
	margin-left: 24px;
	@include breakpoint(max-xxl){
		margin-left: 14px;
	}
}
.mr-24{
	margin-right: 24px;
	@include breakpoint(max-xxl){
		margin-right: 14px;
	}
}
.mr-30{
	margin-right: 30px;
}
.arrowrotate{
	transform: rotate(-32deg);
	font-size: 24px;
}
.border__line{
	border-bottom: 1px solid var(--border-color);
}
//padding custom sizing
.p-24{
	padding: 24px;
	@include breakpoint(max-lg){
		padding: 20px;
	}
	@include breakpoint(max-sm){
		padding: 15px;
	}
}
.pt-130 {
	padding-top: 130px;
	@include breakpoint(max-xl){
		padding-top: 100px;
	}
	@include breakpoint(max-lg){
		padding-top: 80px;
	}
}
.custom__150{
	padding-top: 170px;
	@include breakpoint(max-xxl){
		padding-top: 150px;
	}
}
.pb-130 {
	padding-bottom: 130px;
	@include breakpoint(max-xl){
		padding-bottom: 100px;
	}
	@include breakpoint(max-lg){
		padding-bottom: 80px;
	}
}
.pt-110 {
	padding-top: 110px;
	@include breakpoint(max-xl){
		padding-top: 100px;
	}
	@include breakpoint(max-lg){
		padding-top: 80px;
	}
}
.pb-110 {
	padding-bottom: 110px;
	@include breakpoint(max-xl){
		padding-bottom: 100px;
	}
	@include breakpoint(max-lg){
		padding-bottom: 80px;
	}
}
.pt-100 {
	padding-top: 100px;
	@include breakpoint(max-xl){
		padding-top: 90px;
	}
	@include breakpoint(max-lg){
		padding-top: 80px;
	}
	@include breakpoint(max-md){
		padding-top: 65px;
	}
}
.pb-100 {
	padding-bottom: 100px;
	@include breakpoint(max-xl){
		padding-bottom: 90px;
	}
	@include breakpoint(max-lg){
		padding-bottom: 80px;
	}
	@include breakpoint(max-md){
		padding-bottom: 70px;
	}
}
.pt-80 {
	padding-top: 80px;
	@include breakpoint(max-lg){
		padding-top: 60px;
	}
}
.pb-80 {
	padding-bottom: 80px;
	@include breakpoint(max-lg){
		padding-bottom: 60px;
	}
}
.pt-65 {
	padding-top: 65px;
	@include breakpoint(max-lg){
		padding-top: 55px;
	}
}
.pb-65 {
	padding-bottom: 65px;
	@include breakpoint(max-lg){
		padding-bottom: 55px;
	}
}
.pt-50 {
	padding-top: 50px;
	@include breakpoint(max-lg){
		padding-top: 40px;
	}
}
.pb-50 {
	padding-bottom: 50px;
	@include breakpoint(max-lg){
		padding-bottom: 40px;
	}
}
.pt-40 {
	padding-top: 40px;
	@include breakpoint(max-lg){
		padding-top: 30px;
	}
}
.pb-40 {
	padding-bottom: 40px;
	@include breakpoint(max-lg){
		padding-bottom: 30px;
	}
}
.pb-30{
	padding-bottom: 30px;
	@include breakpoint(max-lg){
		padding-bottom: 20px;
	}
}
.pt-30{
	padding-top: 30px;
	@include breakpoint(max-lg){
		padding-top: 20px;
	}
}
.pb-24{
	padding-bottom: 24px;
	@include breakpoint(max-lg){
		padding-bottom: 15px;
	}
}
.pt-24{
	padding-top: 24px;
	@include breakpoint(max-lg){
		padding-top: 15px;
	}
}
.pb-20{
	padding-bottom: 20px;
	@include breakpoint(max-lg){
		padding-bottom: 15px;
	}
}
.pt-20{
	padding-top: 20px;
	@include breakpoint(max-lg){
		padding-top: 15px;
	}
}
.pb-16{
	padding-bottom: 16px;
	@include breakpoint(max-lg){
		padding-bottom: 10px;
	}
}
.pt-16{
	padding-top: 16px;
	@include breakpoint(max-lg){
		padding-top: 10px;
	}
}
.pb-15{
	padding-bottom: 15px;
	@include breakpoint(max-lg){
		margin-bottom: 10px;
	}
}
.pt-15{
	padding-top: 15px;
	@include breakpoint(max-lg){
		margin-top: 10px;
	}
}
.pb-10{
	padding-bottom: 10px;
}
.pt-10{
	padding-top: 10px;
}
.pb5{
	padding-bottom: 5px;
}
.pt5{
	padding-top: 5px;
}
.p-8{
	padding: 8px;
}
//padding custom sizing

//margin custom sizing
.mt-120 {
	margin-top: 120px;
	@include breakpoint(max-xl){
		margin-top: 100px;
	}
	@include breakpoint(max-lg){
		margin-top: 80px;
	}
}
.mb-120 {
	margin-bottom: 120px;
	@include breakpoint(max-xl){
		margin-bottom: 100px;
	}
	@include breakpoint(max-lg){
		margin-bottom: 80px;
	}
}
.mt-100 {
	margin-top: 100px;
	@include breakpoint(max-xl){
		margin-top: 90px;
	}
	@include breakpoint(max-lg){
		margin-top: 80px;
	}
}
.mb-100 {
	margin-bottom: 100px;
	@include breakpoint(max-xl){
		margin-bottom: 90px;
	}
	@include breakpoint(max-lg){
		margin-bottom: 80px;
	}
}
.mt-80 {
	margin-top: 80px;
	@include breakpoint(max-lg){
		margin-top: 60px;
	}
}
.mb-80 {
	margin-bottom: 80px;
	@include breakpoint(max-lg){
		margin-bottom: 60px;
	}
}
.mt-60 {
	margin-top: 60px;
	@include breakpoint(max-lg){
		margin-top: 50px;
	}
}
.mb-60 {
	margin-bottom: 60px;
	@include breakpoint(max-lg){
		margin-bottom: 50px;
	}
	@include breakpoint(max-sm){
		margin-bottom: 35px;
	}
}
.mt-50 {
	margin-top: 50px;
	@include breakpoint(max-lg){
		margin-top: 40px;
	}
}
.mt-40 {
	margin-top: 40px;
	@include breakpoint(max-lg){
		margin-top: 30px;
	}
}
.mb-40 {
	margin-bottom: 40px;
	@include breakpoint(max-lg){
		margin-bottom: 30px;
	}
}
.mb-30{
	margin-bottom: 30px;
	@include breakpoint(max-lg){
		margin-bottom: 20px;
	}
}
.mt-30{
	margin-top: 30px !important;
	@include breakpoint(max-lg){
		margin-top: 20px;
	}
}
.mr__48{
	margin-right: 48px;
}
.bodyfont{
	@include bodyfont;
}
.headfont{
	@include headfont;
}



.ralt{
	position: relative;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.overhid{
	overflow: hidden;
}
//page scroll bar add
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--theme-bg); 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--base);
	border-radius: 10px;
}
//page scroll bar add

//meta iocn choose
.twitter{
	background: var(--secoundary-color) !important;
}
.twitter{
	background: var(--secoundary-color) !important;
}
.twitch{
	background: rgb(110, 60, 210) !important;
}
.youtube{
	background: rgb(172, 46, 46) !important;
}
.insta{
	background: rgb(207, 93, 93) !important;
}
.lind{
	background: rgb(78 131 228) !important;
}
.face{
	background: rgb(27, 114, 244) !important;
}
i{
	font-size: 18px;
}
//meta iocn choose

.section__bg{
	background-color: #f8f7f0;
}


.title__content{
	margin-bottom: 50px;
	max-width: 550px;
	h6{
		text-transform: uppercase;
		font-weight: 500;
		color: var(--theme-color);
		margin-bottom: 10px;
		font-size: 14px;
	}
	h2{
		text-transform: capitalize;
		margin-top: 15px;
	}
}

.bor__top{
	border-top: 1px solid var(--border-color);
}
.bor__bottom{
	border-bottom: 1px solid var(--border-color);
}
.mt-65{
	margin-top: 65px;
}