//--Footer Section Start--//
.footer__section{
    background: url(../img/footer/bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &::before{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     content: "";
     background-color: rgba(0, 0, 0, 0.7);
    }
     .footer__top{
         position: relative;
         .footer__widget{
             .widget__head{
                 position: relative;
                 h5{
                     text-transform: capitalize;
                     color: var(--white-color);
                     margin-bottom: 10px;
                 }
                 .witr_bar_main .witr_bar_inner{
                     margin: initial !important;
                 }
             }
             p{
                 color: var(--white-color)
             }
             .list{
                li{
                    margin-bottom: 10px;
                    text-transform: capitalize;
                    a{
                        color: var(--white-color);
                        transition: all 0.3s ease-in-out;
                        i{
                            margin-right: 5px;
                            font-size: 16px;
                            color: var(--theme-color)
                        }
                        &:hover{
                            color: var(--theme-color)
                        }
                    }
                }
             }
             .recent__items{
                gap: 15px;
                .thumb{
                    img{
                        @include imgw;
                        border-radius: 5px
                    }
                }
                .content{
                    p{
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: var(--theme-color);
                    }
                    h6{
                        font-size: 15px;
                        line-height: 20px;
                        @include breakpoint(max-xl){
                            font-size: 13px;
                        }
                        a{
                            color: var(--white-color);
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                color: var(--theme-color);
                            }
                        }
                    }
                }
             }
             .item{
                img{
                    @include imgw;
                    border-radius: 10px;
                }
                .iocn{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    color: #f94c30;
                    width: 25px;
                    height: 25px;
                    line-height: 27px;
                    border-radius: 50%;
                    background-color: #fff;
                    text-align: center;
                    transition: .3s;
                    opacity: 0;
                }
             }
             .footer__newsletter{
                input{
                    background: transparent;
                    border: 1px solid var(--border-color);
                    padding: 14px 20px;
                    font-size: 15px;
                    color: var(--white-color);
                    width: 100%;
                    border-radius: 10px;
                    position: relative;
                }
                button{
                    position: absolute;
                    right: 1px;
                    border: none;
                    height: 53px;
                    width: 70px;
                    font-size: 18px;
                    background: var(--theme-color);
                    color: var(--white-color);
                    cursor: pointer;
                    border-radius: 0 10px 10px 0;
                    i{
                        font-size: 18px;
                    }
                }
             }
         }
     }
     .footer__bottom{
        border-top: 1px solid var(--white-color);
        position: relative;
        .bottom__wrap{
            @include breakpoint(max-md){
               justify-content: center !important;
               p{
                text-align: center;
               }
            }
        }
        p{
            color: var(--white-color);
            a{
                color: var(--theme-color)
            }
        }
     }
 }
 .social__icon{
    @include flex;
    gap: 8px;
    li{
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        display: block;
        border-radius: 5px;
        border: 1px solid var(--white-color);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        a{
            i{
                color: var(--white-color);
                font-size: 16px;
            }
        }
        &:hover{
            background-color: var(--theme-color);
            border: 1px solid var(--theme-color);
        }
    }
}
//--Footer Section End--//