
//--Header Top Here--//
.header__tops{
	padding: 20px 0;
	background-color: var(--white-color);
	border-bottom: 1px solid var(--theme-color);
	@include breakpoint(max-xl){
		display: none;
	}
	.info{
		gap: 20px;
		li{
			font-size: 16px;
			line-height: 0;
			i{
				color: var(--theme-color);
				margin-right: 5px;
			}
			a{
				color: var(--black-color);
				transition: all 0.3s ease-in-out;
				&:hover{
					color: var(--theme-color);
				}
			}
		}
	}
}
.header__top{
	background-color: var(--white-color);
	padding: 10px 0;
	@include breakpoint(max-xl){
		display: none;
	}
	.info{
		gap: 20px;
		li{
			font-size: 16px;
			line-height: 0;
			i{
				color: var(--theme-color);
				margin-right: 5px;
			}
			a{
				color: var(--black-color);
				transition: all 0.3s ease-in-out;
				&:hover{
					color: var(--theme-color);
				}
			}
		}
	}
}
//--Header Top End--//

//--Header Top Here--//
.header-section {
	width: 100%;
	background-color: var(--theme-color);
}
.menu-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transition: all 0.9s;
	background-color: var(--theme-color);
	.header-wrapper{
		padding: 15px 0;
		.logo-menu {
			display: block;
		}
		.main-menu{
			@include breakpoint(max-lg){
				top: 55px;
			}
		}
	}
}
.header-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	transition: all 0.9s;
	width: 100%;
	position: relative;
	padding: 30px 0;
	@include breakpoint(max-lg){
		z-index: 999999;
	}
	.logo-menu {
		display: none;
		@include breakpoint(max-lg){
			display: block;
		}
	}
	.main-menu {
		display: flex;
		align-items: center;
		gap: 0 24px;
		@include breakpoint(max-lg){
			max-width: 100%;
		}
		li {
			transition: all 0.6s;
			position: relative;
			a {
				color: var(--white-color);
				font-weight: 500;
				font-size: 16px;
				transition: all 0.3s;
				text-transform: capitalize;
				&:hover {
					color: var(--white-color);
				}
				i {
					margin-left: 2px;
					font-size: 14px !important;
					color: var(--white-color);
				}
			}
			.sub-menu {
				padding: 5px 5px 5px 5px;
				background-color: var(--white-color);
				transition: all 4s;
				@media (min-width: 992px) {
					position: absolute;
					top: 100%;
					left: 0;
					width: 200px;
					z-index: 999;
					transition: all 0.3s ease-in-out;
					background: var(--white-color);
					justify-content: center;
					opacity: 0;
					gap: 5px;
					transform: translateY(25px);
					visibility: hidden;
				}
				li {
					margin-right: 0;
					transition: all 0.3s !important;
					&:not(:last-child){
						border-bottom: 1px solid var(--border-color);
					}
					a {
						color: var(--black-color);
						text-transform: capitalize;
						font-weight: 400;
						font-size: 16px;
						width: 100%;
						display: block;
						padding: 8px 25px;
						border-radius: 8px;
						transition: all 0.3s ease-in-out;
						i{
							font-size: 14px !important;
						}
					}
					&:hover{
						a{
							margin-left: 10px;
							color: var(--theme-color);
						}
					}
				}
			}
			&:hover {
				.sub-menu {
					opacity: 1;
					visibility: visible;
					transform: translateY(5px);
				}
			}
		}
	}
	.menu__right__components{
		gap: 15px;
	}
	.menu__components{
		display: flex;
		align-items: center;
		gap: 20px;
		i{
			color: var(--white-color);
		}
		.fa-bars {
			font-size: 28px;
			cursor: pointer;
			display: inline-block;
			@include breakpoint(max-lg){
				display: none;
			}
		}
	}
}
@media screen and (max-width: 991px){
	.main-menu {
		position: fixed;
		top: 80px;
		width: 100%;
		left: 0;
		display: inline !important;
		margin-top: 20px;
		z-index: 999;
		padding: 15px 15px;
		transition: all 0.4s !important;
		transform-origin: top;
		max-height: calc(100vh - 130px);
		background: var(--white-color);
		overflow-y: auto;
		&:not(.active) {
			position: fixed;
			left: -100%;
			top: 85px;
		}
		li {
			width: 100%;
			border-radius: 2px;
			margin-right: 0 !important;
			padding: 10px 0;
			&:not(:last-child){
				border-bottom: 1px solid var(--border-color);
			}
			a{
				display: block;
				padding: 8px 10px 6px;
				font-size: 16px;
				color: var(--black-color) !important;
				i{
					color: var(--black-color) !important;
				}
			}
			.sub-menu{
				display: none;
				margin: 0px 10px 20px 20px !important;
				background-color: var(--theme-color) !important;
				border-radius: 5px;
				li{
					&:not(:last-child){
						border-bottom: 1px solid var(--white-color) !important;
					}
					a{
						color: var(--black-color) !important;
					}
					.sub-two{
						position: static !important;
						width: 100% !important;
						padding: 0 10px 20px 30px;
						li{
							a{
								display: block;
							}
						}
					}
				}
			}
		}
		.active {
			a {
				color: var(--white-color);
			}
		}
	}
	.header-bar {
		position: relative;
		width: 31px;
		height: 20px;
		span {
			position: absolute;
			width: 100%;
			height: 2px;
			display: inline-block;
			transition: all 0.3s;
			left: 0;
			background: var(--white-color);
			&:first-child {
				top: 0;
				background: var(--white-color);
			}
			&:nth-child(2) {
				top: 44%;
				background: var(--white-color);
			}
			&:last-child {
				bottom: 0;
				background: var(--white-color);
			}
		}
		&.active {
			span {
				&:first-child {
					transform: rotate(45deg) translate(3px, 9px);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					transform: rotate(-45deg) translate(3px, -9px);
				}
			}
		}
		&:hover{
			cursor: pointer;
		}
	}
	.header-wrapper{
		.main-menu{
			li{
				.sub-menu{
					li{
						a{
							color: var(--white-color) !important;
						}
					}
				}
			}
		}
	}
}
//--Header Top End--//

//--Fullscreen Search Bar Start--///
.search-wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	background-color: rgba(255, 255, 255, 0.9);
	.search-inner {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.search-cell {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}

	.search-field-holder {
		width: 50%;
		margin: auto;
		position: relative;
		animation: slideInUp 0.3s;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.search-wrap .search-field-holder {
		width: 70%;
	}
}
@media (max-width: 575px) {
	.search-wrap .search-field-holder {
		width: 80%;
	}
}
.search-wrap .main-search-input {
	width: 100%;
	height: 70px;
	border: 0;
	padding: 0 50px;
	text-transform: uppercase;
	background: transparent;
	font-size: 25px;
	color: var(--theme-color);
	border-bottom: 2px solid var(--theme-color);
	text-align: center;
	letter-spacing: 2px;
}
@media (max-width: 575px) {
	.search-wrap .main-search-input {
		height: 50px;
		padding: 0 0;
		line-height: 50px;
		font-size: 18px;
	}
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
	background-color: var(--theme-color);
}

input.main-search-input::placeholder {
	color: var(--theme-color);
	opacity: 1;
	font-size: 25px;
}
@media (max-width: 575px) {
	input.main-search-input::placeholder {
		font-size: 18px;
	}
}
.search-close {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 30px;
	color: var(--theme-color);
	cursor: pointer;
}
//--Fullscreen Search Bar End--//

//--Side Bar Start--//
.side_bar {
    position: fixed;
    top: 0;
    right: 0px;
    width: 450px;
    height: 100%;
    background-color: var(--white-color);
    padding: 40px;
    padding-top: 45px;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
	.info{
		li{
			font-size: 18px;
			a{
				color: var(--black-color);
			}
			i{
				color: var(--theme-color);
				margin-right: 5px;
			}
		}
	}
	button {
		position: absolute;
		right: 40px;
		top: 40px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 20px;
		background-color: var(--theme-color);
		border-radius: 50%;
		transition: all 0.3s ease-in-out;
		&:hover {
			transform: rotate(90deg);
		}
	}
	.social__icon{
		@include flex;
		gap: 10px;
		li{
			width: 40px;
			height: 40px;
			line-height: 40px;
			border: 1px solid var(--theme-color);
			text-align: center;
			border-radius: 100%;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			a{
				i{
					font-size: 16px;
					color: var(--theme-color);
					transition: all 0.3s ease-in-out;
				}
			}
			&:hover{
				background-color: var(--theme-color);
				a{
					i{
						color: var(--white-color);
					}
				}
			}
		}
	}
}
.side_bar_hidden {
    visibility: hidden;
    opacity: 0;
    right: -30px;
}
//--Side Bar End--//

//--Scroll Top To Bottom Start--//
.scroll-up {
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 0 2px var(--white-color);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 50px;
	width: 50px;
	transition: all 200ms linear;
}
.scroll-up::after {
	position: absolute;
	font-family: "Font Awesome 6 free";
	content: "\f062";
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	font-size: 18px;
	color: var(--theme-color);
	left: 0;
	top: 0;
	height: 50px;
	width: 50px;
	cursor: pointer;
	display: block;
	z-index: 1;
	transition: all 200ms linear;
}
.scroll-up.active-scroll {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.scroll-up svg path {
	fill: none;
}
.scroll-up svg.scroll-circle path {
	stroke: var(--theme-color);
	stroke-width: 4px;
	box-sizing: border-box;
	transition: all 200ms linear;
}


//--Scroll Top To Bottom End--//

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
  }
  #loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #fff;
	z-index: 1000;
	-webkit-transform: translateX(0);
			transform: translateX(0);
  }
  #loader-wrapper .loader-section.section-left {
	left: 0;
  }
  #loader-wrapper .loader-section.section-right {
	right: 0;
  }
  #loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color:  var(--theme-color);
	-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
	z-index: 99999;
  }
  #loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color:  var(--theme-color);
	-webkit-animation: spin 3s linear infinite;
			animation: spin 3s linear infinite;
  }
  #loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color:  var(--theme-color);
	-webkit-animation: spin 1.5s linear infinite;
			animation: spin 1.5s linear infinite;
  }
  .loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
  }
  .loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
			transform: translateX(100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
  }
  @-webkit-keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  @keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }