


:root {
    --body: #fff;
    --theme-color: #4baf47;
    --black-color: #24231d;
    --white-color: #FFFFFF;
    --pra-color: #878680;
    --title-color: #121519;
    --hover-color: #fff;
    --border-color: #cccccc;
    --pra2-color: #A9A9A9;
    --bg-color: #1A1A1A;
    --price-color: #727272;
    --price-color2: #A6A6A6;
    --ratting-color: #ED8A19;
    --section-color: #f8f7f0;

}